fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
langchain
langchain-text-splitters
langchain-community
PyPDF2
python-docx
supabase
google-genai
python-dotenv
sentence-transformers
torch
numpy
jinja2
pdflatex

